* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter",sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


.header {
    margin-top: 25px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    height: 10px;
    width: 1px;
    background-color: #303030;
}

.header__left-wrapper {
    display: flex;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;

}

.location__icon {
    fill: #303030;
}

.location__icon:hover {
    fill: #989898;
}

.location__select {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    border: none;
    color: #303030;
}


.phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number__span {
    margin-left: 10px;
}

.header__phone-number {
    margin-left: 60px;
}

.header__right-wrapper {
    display: flex;
}

.logo {
    width: 183px;
    height: 52px;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #303030;
}

.icons {
    position: relative;
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.favorite-count {
    position: absolute;
    bottom: 7px;
    right: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #FFFFFF;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #E46942;
}

.nav-menu {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    height: 62px;
    margin-top: 23px;
}

.nav-menu__list {
    padding: 0;
    margin-left: 50px;
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.nav-menu__list__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
}

.search-form {
    margin-left: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__input {
    margin-left: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    border: none;
    outline: none;
    background-color: #F8F8F8;
}

.main-promo {
    margin-top: 20px;
    height: 560px;
    background-color: #F8F8F8;
    position: relative;
}

.diamond-svg {
    margin-top: 24px;
    position: absolute;
    z-index: 1;
}

.main-promo__promotion {
    position: absolute;
    z-index: 3;
    left: 126px;
    top: 176px;
}

.promotion__upside {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #303030;
}

.promotion__title {
    margin-top: 30px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
}

.promotion__about-btn {
    margin-top: 54px;
    width: 200px;
    height: 54px;
    background: #303030;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-promo__slider {
    position: absolute;
    right: 36px;
}

.main-promo__arrow-left {
    position: absolute;
    margin-left: 24px;
    top: 50%;
}

.main-promo__arrow-right {
    position: absolute;
    margin-left: 1222px;
    top: 50%;
}

.pagination {
    display: flex;
    gap: 8px;
}

.main-promo__pagination {
    margin-top: 528px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pagination__item {
    width: 8px;
    height: 8px;
    border: 1px solid #303030;
    border-radius: 8px;
}

.popular__title {
    margin-top: 120px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}

.popular__list {
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.popular-card {
    width: 200px;
    height: 259px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.popular-card__img:hover {
    transform: scale(1.1);
}

.popular-card__title {
    text-align: center;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales {
    margin-top: 120px;
}

.sales__title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
}

.sales__nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sales__nav-left {
    display: flex;
    gap: 8px;
}

.sales__nav-btn {
    width: 110px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 21px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #303030;
}

.sales__nav-btn:hover {
    background: #DDDDDD;
}

.sales__card-list {
    margin-top: 36px;
    display: flex;
    gap: 20px;
}

.card-sale {
    width: 310px;
    height: 370px;
    padding: 16px 20px 26px 24px;
    border: 1px solid #F0F0F0;
    position: relative;
}

.icon-keyword {
    position: absolute;
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
    width: 50px;
    height: 21px;
    background: #5B8A8F;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sale__icon-favorite {
    position: absolute;
    z-index: 3;
    right: 20px;
}

.card-sale__icon-favorite:hover {
   fill: red;
}

.card-sale__icon-eye {
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 50px;
    fill: #C9C9C9;
}

.card-sale__icon-eye:hover {
    fill: #979797;
}

.card-sale__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sale__pagination {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.card-sale__price {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

.price-now {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #303030;
}

.price-ex {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #8F8F8F;
}

.card-sale__price-ex {
    margin-left: 8px;
}

.card-sale__price-sale {
    margin-left: 63px;
}

.price-sale {
    width: 50px;
    height: 21px;
    background: #E24B33;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sale__descr {
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #303030;
}

.sales__banners {
    margin-top: 120px;
    display: flex;
    gap: 20px;
}

.banner {
    width: 420px;
    height: 290px;
    background-color: #F8F8F8;
    position: relative;
}

.banner__diamond {
    position: absolute;
    top: 25px;
    z-index: 1;
}

.banner__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #303030;
    position: absolute;
    top: 72px;
    left: 26px;
    z-index: 2;
}

.banner__img-necklace {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 124px;
    height: 312px;
    top: -10px;
    right: 18px;
    z-index: 2;
}


.banner__sale-discount {
    width: 194px;
    height: 52px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    top: 190px;
}

.sale-discount_green {
    background-color: #43807F;
}

.sale-discount_orange {
    background-color: #E24B33;
}

.sale-discount_gold {
    background-color: #E1A661;
}

.banner__sale-discount__until {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 26px;
}

.banner__sale-discount__percent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
    color: #FFFFFF;
    margin-left: 13px;
}

.banner__img-silver {
    position: absolute;
    z-index: 2;
    width: 419px;
    height: 341px;
    left: 190px;
}

.banner__img-brilliant {
    position: absolute;
    width: 397px;
    height: 266px;
    z-index: 2;
    left: 200px;
    top: 41px;
}

.daily {
    margin-top: 113px;
}

.daily__title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
}

.daily__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daily__wrapper {
    margin-top: 40px;
    display: flex;
    height: 550px;
}

.icon-keyword_hit {
    background-color: #E1A661;
}

.icon-keyword_new {
    background-color: #495159;
}

.daily__head {
    position: relative;
}

.daily__wrapper-left {
    position: relative;
}

.daily__icon-new {
    position: absolute;
    top: 16px;
    left: 16px;
}

.daily__icon-hit {
    position: absolute;
    top: 16px;
    left: 70px;
}

.daily__icon-sale {
    position: absolute;
    top: 16px;
    left: 124px;
}

.daily__arrow-left {
    position: absolute;
    top: 267px;
    left: 16px;
}

.daily__arrow-right {
    position: absolute;
    top: 267px;
    left: 519px;
}

.daily__wrapper-right {
    margin-left: 100px;
    width: 650px;
}

.rating {
    display: flex;
    align-items: flex-end;
}

.rating__stars {
    display: flex;
    gap: 6px;
}

.star-fill {
    fill: #E1A661;
}

.rating__ratio {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #303030;
}

.daily__item-name {
    margin-top: 24px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #303030;
}

.daily__article {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #8F8F8F;
}

.daily__price-and-timer {
    margin-top: 2px;
    display: flex;
    align-items: flex-end;
}

.daily__price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
}

.daily__timer {
    margin-left: 36px;
}

.timer {
    padding: 12px 14px;
    width: 224px;
    height: 64px;
    background: #F5F5F5;
    display: flex;
    gap: 9px;
    align-items: center;
}

.timer__block {
    width: 52px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.timer__separator {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #303030;
}

.timer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 100%;
}

.daily__separator {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: #F0F0F0;
}

.daily__color {
    margin-top: 30px;
}

.color {

}

.color__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #303030;
}

.color__list {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}

.color__list-item {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__list-item-active {
    border: 1px solid #303030;
}

.color__list-item__main-color {
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

.main-color-grey {
    background-color: #D9D9D9;
}

.main-color-orange {
    background-color: #EA8C48;
}

.main-color-gold {
    background-color: #F1CB7E;
}

.main-color-light-green {
    background-color: #E5F7DF;
}

.daily__size-container {
    margin-top: 30px;
}

.size-container__head {
    display: flex;
    align-items: center;
    gap: 8px;
}

.size-container__head-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.size-container__head-question {
    width: 18px;
    height: 18px;
    background: #F0F0F0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #303030;
}

.size-container__sizes {
    margin-top: 14px;
    display: flex;
    gap: 8px;
}

.size-container__size-block {
    width: 50px;
    height: 32px;
    border: 1px solid #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
}

.size-container__size-block:hover {
    border: 1px solid #303030;
}


.size-block-out-of-stock {
    opacity: 0.3;
    cursor: auto;
}

.size-block-out-of-stock:hover {
    border: 1px solid rgba(218, 218, 218);
}

.daily__btn-container {
    margin-top: 40px;
}

.btn-container {
    display: flex;
}

.basket-btn {
    width: 400px;
    height: 56px;
    background: #303030;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.basket-btn:hover {
    background: #505050;
}


.buy-btn {
    width: 400px;
    height: 56px;
    border: 1px solid #303030;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #303030;
    background-color: #FFFFFF;
}

.buy-btn:hover {
    background: #303030;
    color: #FFFFFF;
}

.btn-container__link__btns {
    margin-left: 39px;
}

.links__btns {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.btn-container__buy-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.favorite-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}

.compare-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}

.share-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}

.articles {
    margin-top: 120px;
}

.articles__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.articles__title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
}

.articles__btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #303030;
    background-color: #fff;
    border: none;
    display: flex;
    gap: 12px;
}

.articles__list {
    display: flex;
    gap: 20px;
}

.articles__list-item{
    margin-top: 40px;
    width: 310px;
    height: 443px;
}

.articles__list-item-date {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #8F8F8F;
}

.articles__list-item-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #303030;
    margin-top: 12px;
}

.arrow-icon:hover {
    fill: #F5F5F5;
}

.icon-favorite {
    fill: #C9C9C9;
}

.icon-favorite:hover {
    fill: #979797;
}

.btn-pressed {
    background-color: #000000;
    color: #FFFFFF;
}

.press-favorite {
    fill: #E24B33;
}